# Note: Modify the paths to the relevant data.

# 1. Import packages

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import gensim
import gensim.corpora as corpora

In [ ]:
# Enable logging for gensim - optional
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.ERROR)

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

# 2. Read_csv

In [ ]:
post=pd.read_csv('/content/drive/MyDrive/DS300/RS_DA/DATA_vfo/DATASET/Cleaned/POST_cleaned.csv')
comment=pd.read_csv('/content/drive/MyDrive/DS300/RS_DA/DATA_vfo/DATASET/Cleaned/COMMENT_cleaned.csv')
user=pd.read_csv('/content/drive/MyDrive/DS300/RS_DA/DATA_vfo/DATASET/Cleaned/USER_cleaned.csv')
test= pd.read_csv('/content/drive/MyDrive/DS300/RS_DA/DATA_vfo/DATASET/Test/test.csv')

In [ ]:
drop_u=test[test['id_post']==4008]['id_user'].values
test=test.drop(list(test[test['id_user'].isin(drop_u)].index.values),axis=0)
test

       Unnamed: 0  id_user  id_post  label
0               0   179483       16      1
1               1   179483    21753      0
2               2   179483    15535      0
3               3   179483    15045      0
4               4   179483     3773      0
...           ...      ...      ...    ...
50495       50495   386961    20632      0
50496       50496   386961    17499      0
50497       50497   386961    20530      0
50498       50498   386961     1921      0
50499       50499   386961    10765      0

[50298 rows x 4 columns]

In [ ]:
user

       id_user       name_user  star  ... comment_count Reaction_Score  Score
0       179483            0406   1.0  ...         23480             99   1132
1       468274         Clarita   1.0  ...             1              0      1
2       460618    thien-ha-bet   1.0  ...             7              0      1
3       468272  laptoptitan.vn   1.0  ...             1              0      1
4       468270      Phúc Lucas   1.0  ...             2              0      1
...        ...             ...   ...  ...           ...            ...    ...
10991    51414       hoangpupu   NaN  ...            37              0      0
10992    33680     ..::Rùa::..   NaN  ...           337              0      0
10993       20       ^^KuTi_K_   NaN  ...           379              0      0
10994      348      NhocShjnky   NaN  ...             1              0      0
10995       39          yehyeh   NaN  ...            14              0      0

[10996 rows x 8 columns]

In [ ]:
norm_col=['comment_count','Reaction_Score','Score']
user[norm_col]=MinMaxScaler().fit_transform(user[norm_col])
user

       id_user       name_user  star  ... comment_count Reaction_Score     Score
0       179483            0406   1.0  ...      0.878907       0.970588  1.000000
1       468274         Clarita   1.0  ...      0.000037       0.000000  0.000883
2       460618    thien-ha-bet   1.0  ...      0.000262       0.000000  0.000883
3       468272  laptoptitan.vn   1.0  ...      0.000037       0.000000  0.000883
4       468270      Phúc Lucas   1.0  ...      0.000075       0.000000  0.000883
...        ...             ...   ...  ...           ...            ...       ...
10991    51414       hoangpupu   NaN  ...      0.001385       0.000000  0.000000
10992    33680     ..::Rùa::..   NaN  ...      0.012615       0.000000  0.000000
10993       20       ^^KuTi_K_   NaN  ...      0.014187       0.000000  0.000000
10994      348      NhocShjnky   NaN  ...      0.000037       0.000000  0.000000
10995       39          yehyeh   NaN  ...      0.000524       0.000000  0.000000

[10996 rows x 8 columns]

In [ ]:
w_list=[0.3,0.3,0.4]
user['quality_score']=user.apply(lambda x: x['comment_count']*w_list[0]+ x['Reaction_Score']*w_list[1]+ x['Score']*w_list[2],axis=1)
user

       id_user       name_user  star  ... Reaction_Score     Score  quality_score
0       179483            0406   1.0  ...       0.970588  1.000000       0.954849
1       468274         Clarita   1.0  ...       0.000000  0.000883       0.000365
2       460618    thien-ha-bet   1.0  ...       0.000000  0.000883       0.000432
3       468272  laptoptitan.vn   1.0  ...       0.000000  0.000883       0.000365
4       468270      Phúc Lucas   1.0  ...       0.000000  0.000883       0.000376
...        ...             ...   ...  ...            ...       ...            ...
10991    51414       hoangpupu   NaN  ...       0.000000  0.000000       0.000415
10992    33680     ..::Rùa::..   NaN  ...       0.000000  0.000000       0.003784
10993       20       ^^KuTi_K_   NaN  ...       0.000000  0.000000       0.004256
10994      348      NhocShjnky   NaN  ...       0.000000  0.000000       0.000011
10995       39          yehyeh   NaN  ...       0.000000  0.000000       0.000157

[10996 rows x 9 columns]

# 3. funtion for create profile for user

In [ ]:
def get_text(r_u, id_text):
  if(id_text==0): return pass_nan(r_u.title_post_cleaned.values[0])
  if(id_text==1): return pass_nan(r_u.content_post_cleaned.values[0])
  if(id_text==2): return pass_nan(r_u.tags_cleaned.values[0])

def pass_nan(text):
  if(text is np.nan): return ''
  return text

def Aggregate_text(id_p,title=1,content=1 ,tags=1): # Aggregate title_post, content_post, and tags into the text field.
  r_u=post[post['id_post']==id_p]
  text=''
  if(len(r_u)==0): return text
  else:
    feature=[title,content,tags]
    for i in range(3):
      if(feature[i]==1): text += get_text(r_u, i)+' '
    return text

In [ ]:
test[test['id_user']==386961]

       Unnamed: 0  id_user  id_post  label
50399       50399   386961     5510      1
50400       50400   386961    19648      0
50401       50401   386961    19961      0
50402       50402   386961    11255      0
50403       50403   386961    18353      0
...           ...      ...      ...    ...
50495       50495   386961    20632      0
50496       50496   386961    17499      0
50497       50497   386961    20530      0
50498       50498   386961     1921      0
50499       50499   386961    10765      0

[101 rows x 4 columns]

In [ ]:
def build_profile(id_user,id_post_pass,title=1,content=1 ,tags=1):
  #lấy id_post người dùng đã đăng trên diễn đàn
  post_u_posted=np.unique(post[post['id_author_post']==int(id_user)].id_post.values)
  #lấy id_post người dùng đã comment
  post_u_commented=np.unique(comment[comment['id_author_cmt']==int(id_user)].id_post)
  #tổng hợp tất cả id_post
  post_u_interacted=list(np.unique(np.hstack((post_u_posted,post_u_commented))))
  # bỏ đi id_post trong tập 
  post_u_interacted.remove(id_post_pass)
  #build
  profile = [Aggregate_text(p,title=title,content=content ,tags=tags) for p in post_u_interacted]
  return profile

In [ ]:
def build_profile_update(id_user,id_post_pass,p_posted=1,p_commented=1,p_title=1,p_content=1 ,p_tags=1):
  #lấy id_post người dùng đã đăng trên diễn đàn
  if(p_posted==1):
    post_u_posted=np.unique(post[post['id_author_post']==int(id_user)].id_post.values)
  else: post_u_posted=np.array([])
  #lấy id_post người dùng đã comment
  if(p_commented==1):
    post_u_commented=np.unique(comment[comment['id_author_cmt']==int(id_user)].id_post)
  else: post_u_commented=np.array([])
  #tổng hợp tất cả id_post
  post_u_interacted=list(np.unique(np.hstack((post_u_posted,post_u_commented))))
  # bỏ đi id_post trong tập 
  if(id_post_pass in post_u_interacted): post_u_interacted.remove(id_post_pass)
  #build
  profile = [Aggregate_text(p,title=p_title,content=p_content ,tags=p_tags) for p in post_u_interacted]
  return profile

# 4. Embbeding

## tf-idf

In [ ]:
import gensim
import gensim.corpora as corpora 
from gensim.corpora import Dictionary

In [ ]:
docs=[Aggregate_text(p,title=1,content=1 ,tags=1) for p in post.id_post]
token_docs=[doc.split() for doc in docs]

In [ ]:
dic

In [ ]:
dic = corpora.Dictionary(token_docs)
#dic.save_as_text('/content/drive/MyDrive/DS300/Model_RS_DA/CB/dic.txt')

In [ ]:
corpus=[dic.doc2bow(r) for r in token_docs]
modeltfidf = gensim.models.TfidfModel(corpus)
#modeltfidf.save('/content/drive/MyDrive/DS300/Model_RS_DA/CB/model_tfidf.model')

In [ ]:
docs=[Aggregate_text(p,title=1,content=0 ,tags=1) for p in post.id_post]
token_docs=[doc.split() for doc in docs]
dic = corpora.Dictionary(token_docs)
dic.save_as_text('/content/drive/MyDrive/DS300/Model_RS_DA/CB/dic_111.txt')
corpus=[dic.doc2bow(r) for r in token_docs]
modeltfidf = gensim.models.TfidfModel(corpus,smartirs='lpc')
modeltfidf.save('/content/drive/MyDrive/DS300/Model_RS_DA/CB/model_tfidf_111.model')

In [ ]:
train=[Aggregate_text(id_p,title=1,content=0 ,tags=1).strip() for id_p in post.id_post.values]
train

In [ ]:
len(train)

16278

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer 
tf_vectorizer = TfidfVectorizer(max_features=1500)
tf = tf_vectorizer.fit(train)

In [ ]:
m=tf.transform(train)

In [ ]:
# Materialize the sparse data
data_dense = m.todense()

# Compute Sparsicity = Percentage of Non-Zero cells
print("Sparsicity: ", ((data_dense > 0).sum()/data_dense.size)*100, "%")

Sparsicity:  0.2615882377032395 %

In [ ]:
data_dense

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
m[0].shape

(1, 1500)

In [ ]:
cosine_similarity(m[0].reshape(1,-1),m[1].reshape(1,-1))[0]

array([0.22751515])

In [ ]:
tf.vocabulary_

# 5. Similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def quality_score_u_p(id_p):
  return user.loc[user.index[user['id_user']==post[post['id_post']==id_p].get('id_author_post').values[0]].tolist()[0],'quality_score']

In [ ]:
user

       id_user       name_user  star  ... Reaction_Score     Score  quality_score
0       179483            0406   1.0  ...       0.970588  1.000000       0.954849
1       468274         Clarita   1.0  ...       0.000000  0.000883       0.000365
2       460618    thien-ha-bet   1.0  ...       0.000000  0.000883       0.000432
3       468272  laptoptitan.vn   1.0  ...       0.000000  0.000883       0.000365
4       468270      Phúc Lucas   1.0  ...       0.000000  0.000883       0.000376
...        ...             ...   ...  ...            ...       ...            ...
10991    51414       hoangpupu   NaN  ...       0.000000  0.000000       0.000415
10992    33680     ..::Rùa::..   NaN  ...       0.000000  0.000000       0.003784
10993       20       ^^KuTi_K_   NaN  ...       0.000000  0.000000       0.004256
10994      348      NhocShjnky   NaN  ...       0.000000  0.000000       0.000011
10995       39          yehyeh   NaN  ...       0.000000  0.000000       0.000157

[10996 rows x 9 columns]

In [ ]:
def get_sim_avg(check_sub,profile):
  return np.mean((cosine_similarity(check_sub.reshape(1,-1),profile)[0]))

In [ ]:
def convert_dic(tup):
  return dict((x, y) for x, y in tup)
  
def RS(id_u, model_embedding, dictionary,p_posted=1,p_commented=1,p_title=1,p_content=1 ,p_tags=1,title=1,content=1 ,tags=1):
  ground_truth=test.copy()
  ground_truth=ground_truth[ground_truth['id_user']==id_u]
  ground_truth['quality_score_author_p']=ground_truth.apply(lambda x: quality_score_u_p(x['id_post']),axis=1)

  id_post_pass=ground_truth[ground_truth['label']==1].id_post.values[0]
  #profile=build_profile(id_u,id_post_pass,title=1,content=1 ,tags=1)

  model=model_embedding
  dic=dictionary
  
  profile=build_profile_update(id_u,id_post_pass,p_posted=p_posted,p_commented=p_commented,p_title=p_title,p_content=p_content ,p_tags=p_tags)
  #profile_tfidf= [ convert_dic(model[dic.doc2bow(' '.join(p).split())]) for p in profile]
  profile_tfidf= tf.transform(profile)

  
  #profile_tfidf=model[dic.doc2bow(' '.join(profile).split())]
  #profile_tfidf=convert_dic(profile_tfidf)

  docs_test=[Aggregate_text(p,title=title,content=content ,tags=tags) for p in ground_truth.id_post.values]
  #docs_test_tfidf=[convert_dic(model[dic.doc2bow(doc.split())]) for doc in docs_test]
  docs_test_tfidf=tf.transform(docs_test)

  #for p in profile_tfidf: docs_test_tfidf.insert(0,p)
  #df_cal=pd.DataFrame(docs_test_tfidf).fillna(0)
  #df_cal_p=pd.DataFrame(profile_tfidf).fillna(0)

  #profile_cal=np.array(df_cal.iloc[:len(profile),:])
  #check_cal=np.array(df_cal.iloc[len(profile):,:])

  list_similarity=[get_sim_avg(doc_test,profile_tfidf) for doc_test in docs_test_tfidf]
  
  result=ground_truth.copy()
  result=result[['id_post','quality_score_author_p','label']]
  result['sim_avg']=list_similarity
  #result['sim_avg']=MinMaxScaler().fit_transform(np.array(result[['sim']]).reshape(-1, 1))
  #result['for_rank']=0.2*result['quality_score_author_p']+0.8*result['sim']
  result=result.sort_values(by=['sim_avg','quality_score_author_p'], ascending=False)
  return list(zip(*map(result.get, result)))
  #return list_similarity

In [ ]:
#load_model tfidf
model=gensim.models.TfidfModel.load('/content/drive/MyDrive/DS300/Model_RS_DA/CB/model_tfidf_111.model')
#load dic
dic = corpora.Dictionary.load_from_text('/content/drive/MyDrive/DS300/Model_RS_DA/CB/dic_111.txt')

In [ ]:
a=RS(466251, model, dic,p_posted=1,p_commented=1,p_title=1,p_content=1 ,p_tags=1,title=1,content=1 ,tags=1)
a

[(905, 2.2459292532285233e-05, 0, 0.19214950437562034),
 (6891, 1.1229646266142617e-05, 0, 0.16627748452708097),
 (8786, 0.0017518248175182483, 0, 0.1519658414912919),
 (5960, 8.983717012914093e-05, 0, 0.1270920802749963),
 (9563, 0.0032341381246490733, 0, 0.12506303415460188),
 (21492, 0.003728242560359349, 0, 0.12225570708269458),
 (18906, 1.1229646266142617e-05, 0, 0.11479926488793284),
 (8526, 0.0024817518248175185, 0, 0.11162051484091925),
 (10377, 0.05852998771881442, 0, 0.11026096003962263),
 (216, 0.0022436674516837524, 1, 0.10534851479071543),
 (8580, 0.00012352610892756878, 0, 0.10431193356115029),
 (6911, 2.2459292532285233e-05, 0, 0.10128877614050644),
 (2405, 0.00029197080291970805, 0, 0.09211772466973447),
 (16691, 2.2459292532285233e-05, 0, 0.08916078668620224),
 (6499, 0.00026951151038742276, 0, 0.08856818859112872),
 (12036, 1.1229646266142617e-05, 0, 0.08538762705755583),
 (11879, 0.002582818641212802, 0, 0.08323419504976672),
 (3953, 6.737787759685569e-05, 0, 0.07872095908418163),
 (7162, 0.011038742279618192, 0, 0.07750244487743482),
 (8545, 0.00035934868051656373, 0, 0.07412218931696694),
 (8208, 0.011038742279618192, 0, 0.07358735054728585),
 (17692, 0.00010106681639528354, 0, 0.07334231821132323),
 (9923, 4.4918585064570466e-05, 0, 0.073292970591547),
 (4568, 0.003245367770915216, 0, 0.07282859226048657),
 (8191, 0.00014598540145985403, 0, 0.0726805724978272),
 (19646, 0.0004828747894441325, 0, 0.07114775784933425),
 (13316, 0.0003481190342504211, 0, 0.07063770823291109),
 (6573, 0.0625763903631382, 0, 0.07005920721686205),
 (18842, 0.0017405951712521058, 0, 0.06834869129289031),
 (20080, 0.00020213363279056708, 0, 0.06693361678080036),
 (14297, 0.0049859629421673225, 0, 0.0641616686017587),
 (8925, 0.0011791128579449746, 0, 0.06373517916527337),
 (10681, 3.3688938798427845e-05, 0, 0.063700359150193),
 (4833, 0.0004379562043795621, 0, 0.0636138275608385),
 (14503, 0.00046041549691184727, 0, 0.06327859918584308),
 (21514, 1.1229646266142617e-05, 0, 0.06031127690417075),
 (10037, 0.000673778775968557, 0, 0.05738885532078891),
 (5980, 0.00024705221785513757, 0, 0.054911618490194755),
 (252, 0.0003645865367255066, 0, 0.053335695826988584),
 (6958, 0.006069207159197101, 0, 0.05237813269860755),
 (10767, 0.002582818641212802, 0, 0.05150725693492407),
 (17702, 0.0010443571027512633, 0, 0.04902978923996964),
 (19342, 0.001987647389107243, 0, 0.04799495598689514),
 (12529, 0.005945681050269532, 0, 0.047955920337492124),
 (2916, 4.4918585064570466e-05, 0, 0.047499999971122656),
 (12013, 0.0005951712521055586, 0, 0.04732908212348298),
 (19239, 0.0008085345311622683, 0, 0.044711092984740165),
 (551, 0.0002582818641212802, 0, 0.04379582865656566),
 (15077, 0.0014261650758001124, 0, 0.04348677676224042),
 (6713, 0.0011341942728804043, 0, 0.042016278741953995),
 (4907, 0.37040833687444935, 0, 0.041380529321563594),
 (12552, 0.0005727119595732734, 0, 0.040975123900545446),
 (12338, 3.3688938798427845e-05, 0, 0.03930715811423023),
 (12312, 0.0004941044357102751, 0, 0.03461190818575731),
 (14500, 0.4081676921606402, 0, 0.0343311473037631),
 (11361, 0.011038742279618192, 0, 0.032497573769146006),
 (5356, 0.003335204941044357, 0, 0.03247330955021417),
 (6976, 0.060555054035232515, 0, 0.03215594060800834),
 (17858, 2.2459292532285233e-05, 0, 0.03204450363931883),
 (18987, 4.4918585064570466e-05, 0, 0.03199307995859677),
 (4003, 0.06063366155909552, 0, 0.03079667555540595),
 (6233, 7.860752386299832e-05, 0, 0.03027012653441393),
 (20188, 0.003728242560359349, 0, 0.02960207153849208),
 (3259, 0.0012464907355418306, 0, 0.028752835747488763),
 (18585, 7.860752386299832e-05, 0, 0.025172094398331058),
 (5551, 0.0625763903631382, 0, 0.025000058431286675),
 (19619, 0.0006962380685008422, 0, 0.02492595758047412),
 (19323, 0.00015721504772599665, 0, 0.024721766861239936),
 (5626, 0.001729365524985963, 0, 0.023655105442695234),
 (14671, 0.003065693430656934, 0, 0.023497289603013095),
 (17311, 0.00026951151038742276, 0, 0.02259831905426662),
 (9239, 4.4918585064570466e-05, 0, 0.022078862529194467),
 (1697, 0.061127765994805794, 0, 0.01934261497268091),
 (9982, 0.009083792978168248, 0, 0.018297984846257248),
 (21302, 0.001078046041549691, 0, 0.01785122939057666),
 (7515, 2.2459292532285233e-05, 0, 0.016313399184526303),
 (1724, 5.614823133071308e-05, 0, 0.016131240157680516),
 (3015, 1.1229646266142617e-05, 0, 0.016002666040925893),
 (7455, 1.1229646266142617e-05, 0, 0.015938262635361227),
 (7617, 0.00016844469399213924, 0, 0.01550636613765494),
 (5384, 3.3688938798427845e-05, 0, 0.015025115441156704),
 (718, 0.00012352610892756878, 0, 0.01192030109682523),
 (18293, 0.0024705221785513757, 0, 0.00909640244092202),
 (19108, 0.016720943290286356, 0, 0.007214069109126568),
 (9882, 1.1229646266142617e-05, 0, 0.007019475933449959),
 (8928, 1.1229646266142617e-05, 0, 0.006051961140702054),
 (7817, 0.00016844469399213924, 0, 0.005904205627699664),
 (12906, 0.006159044329326241, 0, 0.005562008217859584),
 (21352, 2.2459292532285233e-05, 0, 0.00467735230507403),
 (13546, 0.000763615946097698, 0, 0.004324146056227344),
 (14010, 5.614823133071308e-05, 0, 0.00420724077075473),
 (16357, 0.016720943290286356, 0, 0.0032677390802116416),
 (4059, 0.05999357172192539, 0, 0.0),
 (8470, 0.003245367770915216, 0, 0.0),
 (7834, 0.000819764177428411, 0, 0.0),
 (13614, 0.0004154969118472768, 0, 0.0),
 (15630, 0.0003256597417181359, 0, 0.0),
 (16120, 0.00010106681639528354, 0, 0.0),
 (10822, 3.3688938798427845e-05, 0, 0.0),
 (4967, 3.3688938798427845e-05, 0, 0.0),
 (18179, 1.1229646266142617e-05, 0, 0.0)]

In [ ]:
len(dic)

26223

In [ ]:
RS(466251, model, dic,p_posted=1,p_commented=1,p_title=1,p_content=1 ,p_tags=1,title=1,content=1 ,tags=1)

     id_post  quality_score_author_p       sim  for_rank
117     7455                0.000011  1.000000  0.800002
174    11361                0.011039  0.846274  0.679227
187     8191                0.000146  0.816165  0.652961
113     3015                0.000011  0.702667  0.562136
127     2916                0.000045  0.696254  0.557012
..       ...                     ...       ...       ...
166    16691                0.000022  0.000000  0.000004
112     9882                0.000011  0.000000  0.000002
123     8928                0.000011  0.000000  0.000002
138    18906                0.000011  0.000000  0.000002
144    18179                0.000011  0.000000  0.000002

[101 rows x 4 columns]

In [ ]:
test[test['label']==1]

       Unnamed: 0  id_user  id_post  label
0               0   179483       16      1
101           101   466251      216      1
202           202   468305       14      1
303           303   111027      368      1
404           404   286410        1      1
...           ...      ...      ...    ...
49995       49995   267871    12276      1
50096       50096   342550     8377      1
50197       50197   402686     6090      1
50298       50298   277065    15390      1
50399       50399   386961     5510      1

[498 rows x 4 columns]

# 6. RS and evaluation

In [ ]:
import gensim

In [ ]:
#load_model tfidf
model=gensim.models.TfidfModel.load('/content/drive/MyDrive/DS300/Model_RS_DA/CB/model_tfidf.model')
#load dic
dic = corpora.Dictionary.load_from_text('/content/drive/MyDrive/DS300/Model_RS_DA/CB/dic.txt')

In [ ]:
def get_sim_rank(p_true, RS_list):
  index=[x[0] for x in RS_list].index(p_true)
  return (index,RS_list[index][1])

In [ ]:
def evaluation(df,title=1,content=1 ,tags=1):
  top_list=[5,10,15,20,25]
  name_top= ['top_%s'%n for n in top_list]
  name_result=['result_top_%s'%n for n in top_list]

  check=df.copy()
  check['RS']=check['id_user'].apply(RS,model_embedding=model,dictionary=dic,title=title,content=content ,tags=tags)

  check['rank_sim_ptrue']=check.apply(lambda x: get_sim_rank(x['id_post'],x['RS']),axis = 1)
  for i in range(len(top_list)):
    check[name_top[i]]=check['RS'].apply(id_p_top,top_n=top_list[i])
  for i in range(len(top_list)):
    check[name_result[i]]=check.apply(lambda x: 1 if x['id_post'] in x[name_top[i]] else 0,axis = 1)

  acc=[list(check[n].values).count(1)/len(check) for n in name_result ]

  return check,acc

### e1
* tf_idf fit in post full: title=1,content=1 ,tags=1
* cosine
* build profile with p_posted + p_commented : title=1,content=1,tags=1
* get_doc_test for similarity: title=1,content=1,tags=1

In [ ]:
e1=evaluation(test[test['label']==1],title=1,content=1,tags=1)
df=e1[0]
acc=e1[1]
acc

[0.05, 0.122, 0.172, 0.24, 0.286]

In [ ]:
df

       Unnamed: 0  id_user  ...  result_top_20  result_top_25
0               0   179483  ...              0              0
101           101   466251  ...              0              0
202           202   468305  ...              0              0
303           303   111027  ...              0              0
404           404   286410  ...              0              0
...           ...      ...  ...            ...            ...
49995       49995   267871  ...              0              0
50096       50096   342550  ...              0              0
50197       50197   402686  ...              0              0
50298       50298   277065  ...              0              0
50399       50399   386961  ...              0              0

[500 rows x 16 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/DS300/Model_RS_DA/CB/Result/tf_idf/e2_tfidf_cosine_p_full_111_doc_111_0.05_0.122_0.172_0.24_0.286.csv')

###e2
* tf_idf fit in post full: title=1,content=1 ,tags=1

* cosine

* build profile with p_posted + p_commented : title=1,content=1,tags=1

* get_doc_test for similarity: title=1,content=0,tags=1

In [ ]:
e2=evaluation(test[test['label']==1],title=1,content=0,tags=1)
df=e2[0]
acc=e2[1]
acc

KeyboardInterrupt: ignored

In [ ]:
df.to_csv('/content/drive/MyDrive/DS300/Model_RS_DA/CB/Result/tf_idf/e2_tfidf_cosine_p_full_111_doc_101_0.546_0.656_0.784_0.814_0.814.csv')

### e3
* tf_idf fit in post full: title=1,content=1 ,tags=1
* cosine
* build profile with p_posted + p_commented : title=1,content=1,tags=1
* get_doc_test for similarity: title=0,content=1,tags=1

In [ ]:
e3=evaluation(test[test['label']==1],title=0,content=1,tags=1)
df=e3[0]
acc=e3[1]
acc

[0.044, 0.11, 0.168, 0.238, 0.29]

In [ ]:
df

       Unnamed: 0  id_user  ...  result_top_20  result_top_25
0               0   179483  ...              0              0
101           101   466251  ...              0              0
202           202   468305  ...              0              0
303           303   111027  ...              0              0
404           404   286410  ...              0              0
...           ...      ...  ...            ...            ...
49995       49995   267871  ...              0              0
50096       50096   342550  ...              0              1
50197       50197   402686  ...              0              0
50298       50298   277065  ...              0              0
50399       50399   386961  ...              0              0

[500 rows x 16 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/DS300/Model_RS_DA/CB/Result/tf_idf/e3_tfidf_cosine_p_full_111_doc_011_0.044_0.11_0.168_0.238_0.29.csv')

In [ ]:
def id_p_top(list_rs,top_n):
  return list_rs[:top_n]

In [ ]:
def evaluation_update(df,p_posted=1,p_commented=1,p_title=1,p_content=1 ,p_tags=1,title=1,content=1 ,tags=1):
  top_list=[5,10,15,20,25]
  name_top= ['top_%s'%n for n in top_list]
  name_result=['result_top_%s'%n for n in top_list]

  check=df.copy()
  check['RS']=check['id_user'].apply(RS,model_embedding=model,dictionary=dic,p_posted=p_posted,p_commented=p_commented,p_title=p_title,p_content=p_content ,p_tags=p_tags,title=title,content=content ,tags=tags)

  check['rank_sim_ptrue']=check.apply(lambda x: get_sim_rank(x['id_post'],x['RS']),axis = 1)
  for i in range(len(top_list)):
    check[name_top[i]]=check['RS'].apply(id_p_top,top_n=top_list[i])
  for i in range(len(top_list)):
    check[name_result[i]]=check.apply(lambda x: 1 if x['id_post'] in x[name_top[i]] else 0,axis = 1)

  acc=[list(check[n].values).count(1)/len(check) for n in name_result ]

  return check,acc

In [ ]:
e_c=evaluation_update(test[test['label']==1],p_posted=1,p_commented=1,p_title=1,p_content=0 ,p_tags=1,title=1,content=0 ,tags=1)
df=e_c[0]
acc=e_c[1]
acc

[0.0, 0.0, 0.0, 0.0, 0.0]

In [ ]:
df

       Unnamed: 0  id_user  ...  result_top_20  result_top_25
0               0   179483  ...              0              0
101           101   466251  ...              0              0
202           202   468305  ...              0              0
303           303   111027  ...              0              0
404           404   286410  ...              0              0
...           ...      ...  ...            ...            ...
49995       49995   267871  ...              0              0
50096       50096   342550  ...              0              0
50197       50197   402686  ...              0              0
50298       50298   277065  ...              0              0
50399       50399   386961  ...              0              0

[498 rows x 16 columns]

### e4
* tf_idf fit in post full: title=1,content=1 ,tags=1
* cosine
* build profile with p_posted=1 + p_commented=0 : title=1,content=1,tags=1
* get_doc_test for similarity: title=1,content=0,tags=1

In [ ]:
e4=evaluation_update(test[test['label']==1],p_posted=1,p_commented=0,p_title=1,p_content=1 ,p_tags=1,title=1,content=0 ,tags=1)
df=e4[0]
acc=e4[1]
acc

[0.7, 0.77, 0.862, 0.88, 0.88]

In [ ]:
df

       Unnamed: 0  id_user  ...  result_top_20  result_top_25
0               0   179483  ...              1              1
101           101   466251  ...              1              1
202           202   468305  ...              1              1
303           303   111027  ...              1              1
404           404   286410  ...              1              1
...           ...      ...  ...            ...            ...
49995       49995   267871  ...              1              1
50096       50096   342550  ...              1              1
50197       50197   402686  ...              1              1
50298       50298   277065  ...              1              1
50399       50399   386961  ...              1              1

[500 rows x 16 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/DS300/Model_RS_DA/CB/Result/tf_idf/e4_tfidf_cosine_p_10_111_doc_101_0.7_0.77_0.862_0.88_0.88.csv')

### e5
* tf_idf fit in post full: title=1,content=1 ,tags=1
* cosine
* build profile with p_posted=0 + p_commented=1 : title=1,content=1,tags=1
* get_doc_test for similarity: title=1,content=0,tags=1

In [ ]:
e5=evaluation_update(test[test['label']==1],p_posted=0,p_commented=1,p_title=1,p_content=1 ,p_tags=1,title=1,content=0 ,tags=1)
df=e5[0]
acc=e5[1]
acc

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[0.546, 0.654, 0.786, 0.816, 0.816]

In [ ]:
df

       Unnamed: 0  id_user  ...  result_top_20  result_top_25
0               0   179483  ...              1              1
101           101   466251  ...              1              1
202           202   468305  ...              1              1
303           303   111027  ...              1              1
404           404   286410  ...              1              1
...           ...      ...  ...            ...            ...
49995       49995   267871  ...              1              1
50096       50096   342550  ...              1              1
50197       50197   402686  ...              1              1
50298       50298   277065  ...              1              1
50399       50399   386961  ...              1              1

[500 rows x 16 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/DS300/Model_RS_DA/CB/Result/tf_idf/e5_tfidf_cosine_p_01_111_doc_101_0.546_0.654_0.786_0.816_0.816.csv')

### e6
* tf_idf fit in post full: title=1,content=1 ,tags=1
* cosine
* build profile with p_posted=1 + p_commented=0 : title=1,content=0,tags=1
* get_doc_test for similarity: title=1,content=0,tags=1

In [ ]:
e6=evaluation_update(test[test['label']==1],p_posted=1,p_commented=0,p_title=1,p_content=0 ,p_tags=1,title=1,content=0 ,tags=1)
df=e6[0]
acc=e6[1]
acc

[0.774, 0.818, 0.89, 0.9, 0.9]

In [ ]:
df

       Unnamed: 0  id_user  ...  result_top_20  result_top_25
0               0   179483  ...              1              1
101           101   466251  ...              1              1
202           202   468305  ...              1              1
303           303   111027  ...              1              1
404           404   286410  ...              1              1
...           ...      ...  ...            ...            ...
49995       49995   267871  ...              1              1
50096       50096   342550  ...              1              1
50197       50197   402686  ...              1              1
50298       50298   277065  ...              1              1
50399       50399   386961  ...              1              1

[500 rows x 16 columns]

In [ ]:
df.iloc[['101']]['RS'].values

array([list([(13953, 0.07912237157064442), (5608, 0.017403514708492447), (19719, 0.0), (5620, 0.0), (6789, 0.0), (11983, 0.0), (12275, 0.0), (13643, 0.0), (14369, 0.0), (9731, 0.0), (2471, 0.0), (17160, 0.0), (3833, 0.0), (11932, 0.0), (4093, 0.0), (8289, 0.0), (17905, 0.0), (18975, 0.0), (19136, 0.0), (21129, 0.0), (20241, 0.0), (18938, 0.0), (21517, 0.0), (9737, 0.0), (2022, 0.0), (6966, 0.0), (4011, 0.0), (9910, 0.0), (15791, 0.0), (10384, 0.0), (7282, 0.0), (4304, 0.0), (15261, 0.0), (20429, 0.0), (20985, 0.0), (17574, 0.0), (752, 0.0), (15406, 0.0), (6825, 0.0), (10420, 0.0), (12251, 0.0), (6328, 0.0), (6049, 0.0), (15539, 0.0), (824, 0.0), (3716, 0.0), (8322, 0.0), (14002, 0.0), (12910, 0.0), (21578, 0.0), (5500, 0.0), (11592, 0.0), (12706, 0.0), (7110, 0.0), (15549, 0.0), (308, 0.0), (12680, 0.0), (16276, 0.0), (20354, 0.0), (19000, 0.0), (9697, 0.0), (12169, 0.0), (6786, 0.0), (5492, 0.0), (12655, 0.0), (18892, 0.0), (532, 0.0), (16192, 0.0), (20090, 0.0), (403, 0.0), (2767, 0.0), (4514, 0.0), (10465, 0.0), (12614, 0.0), (18635, 0.0), (21340, 0.0), (10582, 0.0), (11234, 0.0), (13071, 0.0), (15031, 0.0), (13529, 0.0), (3475, 0.0), (17709, 0.0), (3748, 0.0), (16757, 0.0), (3802, 0.0), (14979, 0.0), (16704, 0.0), (7701, 0.0), (19967, 0.0), (10734, 0.0), (10211, 0.0), (12172, 0.0), (18939, 0.0), (14852, 0.0), (21348, 0.0), (2423, 0.0), (5627, 0.0), (5498, 0.0), (12318, 0.0), (13907, 0.0)])],
      dtype=object)

In [ ]:
df.to_csv('/content/drive/MyDrive/DS300/Model_RS_DA/CB/Result/tf_idf/e6_tfidf_cosine_p_10_101_doc_101_0.774_0.818_0.89_0.9_0.9.csv')